body{
    font-family: "Calibri Light";
    /*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(purple.jpg) !important;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    background: white;
    font-weight: bold;
    font-style: italic;
}

.content-section {
    color: black;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-top: 55px;
}
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.form-group button{
    background-color: #360721;
    color: white;
    border-color: #360721;
}

.form-group button:hover{
    background-color: white;
    color: #360721;
    border-color: #360721;
}


nav{
    /*background-color: rgb(13, 12, 12);*/
    background-color: rgb(28, 28, 27);
    margin-bottom: 20px;
}

