{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to mega movies, hope you enjoy your time here">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'movies/clear_session.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
    <script src="{% static 'users/pw_val.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block head  %}{% endblock %}
</head>

<body class="m-5">
    <header class="site-header">
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom">
            <div class="container"><a class="navbar-brand" href="{% url 'home' %}">Mega Movies</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    {% block form %}{% endblock %}
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% include 'users/messages.html' %}
    <script>
        setTimeout(function(){
            if($('#msg').length > 0){
                $('#msg').remove();
            }
        }, 2000)
    </script>

    {% block content %}{% endblock %}



</body>
</html>