{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no'/>
    <!-- Include jQuery and flickity package for carousel slider -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" />
    <style>
        body{padding:55px 0;}
        .ratings{margin-bottom:10px;}
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form method="POST">
        {% csrf_token %}
            <div class = "content-section ratings" >
                <legend class="border-bottom mb-4">Latest Movies</legend>
                     <div class="owl-carousel owl-theme">
                        {% for latest_movie in latest_movies %}
                            <div class="item">
                                <div class="card">
                                    <div class="card-header" style="background: url({{ latest_movie.poster_url }}); background-size: cover;">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{latest_movie.name_eg }}</h5>
                                        <div class="star-ratings"><span class="rating-value">-</span>/5</div>
                                        <div class="card-movie-info">
                                            <div class="movie-genres">
                                                <label>Genres</label>
                                                <span>{{ latest_movie.genres_name_eg }}</span>
                                                <label>Rate</label>
                                                <fieldset>
                                                    <input type="range" class="range_star" name="{{ latest_movie.name_eg }}" min="0" max="5" step="0.5" value="0">
                                                    <output class="textInput"></output>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>

            <div class = "content-section ratings" >
                <legend class="border-bottom mb-4">Popular Movies</legend>
                <!-- The posters will be dummy for now -->
                    <div class="owl-carousel owl-theme">
                        {% for popular_movie in popular_movies %}
                            <div class="item">
                                <div class="card">
                                    <div class="card-header" style="background: url({{ popular_movie.poster_url }}); background-size: cover;">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{popular_movie.name_eg }}</h5>
                                        <div class="star-ratings"><span class="rating-value">-</span>/5</div>
                                        <div class="card-movie-info">
                                            <div class="movie-genres">
                                                <label>Genres</label>
                                                <span>{{ popular_movie.genres_name_eg }}</span>
                                                <label>Rate</label>
                                                <fieldset>
                                                    <input type="range" class="range_star" name="{{ popular_movie.name_eg }}" min="0" max="5" step="0.5" value="0">
                                                    <output class="textInput"></output>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>


            <div class = "content-section ratings" >
                <legend class="border-bottom mb-4">User Rated Movies</legend>
                {% if user_ratings|length == 0 %}
                    <h3 class="no-rating">You have no rated movies yet.</h3>
                {% else %}
                    <div class="owl-carousel owl-theme">
                        {% for user_rating in user_ratings %}
                            <div class="item">
                                <div class="card">
                                    <div class="card-header" style="background: url({{ user_rating.movie.poster_url }}); background-size: cover;">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{user_rating.movie.name_eg }}</h5>
                                        <div class="star-ratings"><span class="rating-value">-</span>/5</div>
                                        <div class="card-movie-info">
                                            <div class="movie-genres">
                                                <label>Genres</label>
                                                <span>{{ user_rating.movie.genres_name_eg }}</span>
                                                <label>Rate</label>
                                                <fieldset>
                                                    <input type="range" class="range_star" name="{{ user_rating.movie.name_eg }}" min="0" max="5" step="0.5" value="{{ user_rating.rating }}">
                                                    <output class="textInput"></output>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                {% endif %}
            </div>
            <div class="btn-rating">
                <button type="submit" class="btn btn-success updateRate" value ="Rate">Submit Ratings</button>
            </div>
        </form>
    </div>

        <script>
            $('.owl-carousel').owlCarousel({
                margin:10,
                responsiveClass:true,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:2,
                        nav:false
                    },
                    1000:{
                        items:3,
                        nav:true,
                        loop:false
                    }
                }
            })

            let i = document.querySelectorAll('.range_star'),
                o = document.querySelectorAll('.textInput'),
                r = document.querySelectorAll('.rating-value');
            for(let j = 0; j< i.length; j++){
                o[j].innerHTML = i[j].value;
                r[j].innerHTML = i[j].value;

                i[j].addEventListener('input', function () {
                    o[j].innerHTML = i[j].value;
                    r[j].innerHTML = i[j].value;
                }, false);
            }
        </script>
{% endblock %}