{% extends 'base.html' %}

{% load static %}

{% block title %}
Movie Details
{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
    crossorigin="anonymous" />
<style>
    body {
        margin: 1rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="details-container">
    <div class="details-box">
        <div class="details-img">
            <img src="{{ movie.poster_url }}" alt="{{ movie.name_eg }}">
        </div>
        <div class="details-info">

            <div class="details-sub-info">

                {% if movie.genres_name_eg|length != 0 %}
                <span>{{ movie.genres_name_eg }}</span>
                {% else %}
                <span>No genres available</span>
                {% endif %}

                <!-- <span>{{ movie.movieinfo.country }}</span> -->
                <span>{{ movie.date }}</span>

                {% if actors|length != 0 %}
                {% for actor in actors|slice:":-1" %}
                <a class="actors-names" href="../../search/results/?actors={{ actor }}"> {{ actor }}, </a>
                {% endfor %}

                {% for actor in actors|slice:"-1:" %}
                <a class="actors-names" href="../../search/results/?actors={{ actor }}"> {{ actor }}</a>
                {% endfor %}
                {% else %}
                <span>No information about actors available</span>
                {% endif %}

            </div>

            {% if movie.is_english %}
            <h1 class="details-title">{{ movie.name_eg }}</h1>
            {% else %}
            <h1 class="details-title">{{ movie.name_eg }} | {{ movie.name_ar }}</h1>
            {% endif %}

            {% if movie.movieinfo.plot|length != 0 %}
            <p class="details-summary">{{ movie.movieinfo.plot }}</p>
            {% else %}
            <h2 class="not-found">No plot available</h2>
            {% endif %}

            <fieldset>
                <input type="range" class="range_star" id="rating" name="{{ movie.name_eg }}" min="0" max="5" step="0.5"
                    value="{{ rating }}">
                <output style="color:white; font-size: 20px;" class="textInput"></output>
            </fieldset>
        </div>

    </div>
</div>

<div class="content-section ratings">
    <legend class="border-bottom mb-4">Movies similar to this movie</legend>
    {% if content_movies|length == 0 %}
    <h4>No Recommended movies!</h4>
    {% else %}
    <div class="owl-carousel owl-theme">
        {% for movie in content_movies %}
        <div class="item">
            <div class="card">
                <div class="card-header" style="background: url({{ movie.poster_url }}); background-size: cover;">
                </div>
                <div class="card-body" style="height: 90px;">
                    {% if movie.is_english %}
                    <a class="card-title" href="{% url 'movie-details' movie.id %}" title="Show movie details">
                        {{ movie.name_eg }}</a>
                    {% else %}
                    <a class="card-title" href="{% url 'movie-details' movie.id %}" title="Show movie details">
                        {{ movie.name_eg }} | {{ movie.name_ar }}</a>
                    {% endif %}


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="content-section ratings">
    <legend class="border-bottom mb-4">People like this movie also like</legend>
    {% if collaborative_movies|length == 0 %}
    <h4>No Recommended movies!</h4>
    {% else %}
    <div class="owl-carousel owl-theme">
        {% for movie in collaborative_movies %}
        <div class="item">
            <div class="card">
                <div class="card-header" style="background: url({{ movie.poster_url }}); background-size: cover;">
                </div>
                <div class="card-body" style="height: 90px;">
                    {% if movie.is_english %}
                    <a class="card-title" href="{% url 'movie-details' movie.id %}" title="Show movie details">
                        {{ movie.name_eg }}</a>
                    {% else %}
                    <a class="card-title" href="{% url 'movie-details' movie.id %}" title="Show movie details">
                        {{ movie.name_eg }} | {{ movie.name_ar }}</a>
                    {% endif %}


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>




<script>
    let i = document.querySelectorAll('.range_star'),
        o = document.querySelectorAll('.textInput');
    for (let j = 0; j < i.length; j++) {
        o[j].innerHTML = i[j].value;

        i[j].addEventListener('input', function () {
            o[j].innerHTML = i[j].value;
        }, false);
    }

    $('.owl-carousel').owlCarousel({
        loop: false,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true,
                pagination: false
            },
            500: {
                items: 2,
                nav: false
            },
            1000: {
                items: 4,
                nav: true,
            }
        }
    })
</script>
<script src="{% static 'movies/ajax_rate.js' %}"></script>
{% endblock %}