{% extends 'base.html' %}

{% load static %}

{% block title %}
    Movie Details
{% endblock %}

{% block head %}
    <style>
        html{overflow: hidden;}
        body{margin: 1rem;}
    </style>
{% endblock %}

{% block content %}
    <div class="details-container">
        <div class="details-box">
            <div class="details-img">
                <img src="{{ movie.poster_url }}" alt="{{ movie.name_eg }}">
            </div>
            <div class="details-info">

                <div class="details-sub-info">

                    {% if movie.genres_name_eg|length != 0 %}
                        <span>{{ movie.genres_name_eg }}</span>
                    {% else %}
                        <span>No genres available</span>
                    {% endif %}

                    <span>{{ movie.movieinfo.country }}</span>
                    <span>{{ movie.movieinfo.date }}</span>
                    
                    {% if actors|length != 0 %}
                        {% for actor in actors|slice:":-1" %}
                            <a class="actors-names" href="../../search/results/?actors={{ actor.0 }}"> {{ actor.0 }}, </a>
                        {% endfor %}

                        {% for actor in actors|slice:"-1:" %}
                        <a class="actors-names" href="../../search/results/?actors={{ actor.0 }}"> {{ actor.0 }}</a>
                        {% endfor %}
                    {% else %}
                        <span>No information about actors available</span>
                    {% endif %}

                </div>
                <h1 class="details-title">{{ movie.name_eg }} | {{ movie.name_ar }}</h1>

                {% if movie.movieinfo.plot|length != 0 %}
                    <p class="details-summary">{{ movie.movieinfo.plot }}</p>
                {% else %}
                    <h2 class="not-found">No plot available</h2>
                {% endif %}

                <fieldset>
                    <input type="range" class="range_star" id="rating" name="{{ movie.name_eg }}" min="0" max="5" step="0.5" value="{{ rating }}">
                    <output style="color:white; font-size: 20px;" class="textInput"></output>
                </fieldset>
            </div>

        </div>
    </div>


    <script src="{% static 'movies/ajax_rate.js' %}"></script>
    <script>
        let i = document.querySelectorAll('.range_star'),
            o = document.querySelectorAll('.textInput');
        for(let j = 0; j< i.length; j++){
            o[j].innerHTML = i[j].value;

            i[j].addEventListener('input', function () {
                o[j].innerHTML = i[j].value;
            }, false);
        }
    </script>
{% endblock %}