{% extends 'index_base.html' %}
{% load static %}


{% block title %}
    Information Page
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Mega Movies!</h1>
        <p class="lead">A simple guide to enjoy your time</p>
        <h3>Dont' forget to submit the ratings at the bottom of the page <img class="info-img" src="{% static 'users/tempsnip.png' %}" alt="info"></h3>
        <p class="lead">
            <a class="btn btn-lg" href="{% url 'home' %}" role="button">Continue</a>
        </p>
    </div>
{% endblock %}