{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Profile
{% endblock %}

{% block head %}
    <!-- Include jQuery and flickity package for carousel slider -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}


{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="image">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile</legend>
{#                    <h1>Profile</h1>#}
                {{ u_form|crispy }}
                <span class="password">Password*</span>
                <br>
                <input type = "password" name="password">
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>

    <div class = "content-section ratings" >
        <legend class="border-bottom mb-4">Your Rated Movies</legend>
        <!-- The posters will be dummy for now -->
        {% if user_ratings|length == 0 %}
            <h4>No Rated Movies Yet!</h4>
        {% else %}
            <div class="carousel-slider">
                {% for user_rating in user_ratings %}
                    <div class="carousel-cell">
                        <img class="carousel-img" src= "{{ user_rating.movie.poster_url }}" alt="{{ user_rating.movie.name_eg }}">
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Script for triggering the flickity package -->
    <script>
        (function($){
            $(document).ready(function(){
                $('.carousel-slider').flickity({
                    cellAlign: 'left',
                    wrapAround: true,
                    fade: true
                });
            });
        })(jQuery)
    </script>

{% endblock %}