{% extends 'index_base.html' %}


{% block title %}
    Register
{% endblock %}

{% block h1 %}Join Today{% endblock %}

{% block content %}
    <div class="container">
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
                <div class="img-left d-none d-md-flex"></div>

                <div class="card-body">
                    <h4 class="title text-center mt-4" style="color:white;">
                        Register
                    </h4>
                    <form class="form-box px-3" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-input">
                            <span class="input"><i class="fa fa-user"></i></span>
                            {{ form.username }}
                        </div>
                        <div class="form-input">
                            <span class="input"><i class="fa fa-envelope"></i></span>
                            {{ form.email }}
                        </div>
                        <div class="form-input">
                            <span class="input"><i class="fa fa-key"></i></span>
                            {{ form.password1 }}
                        </div>
                        <div class="form-input">
                            <span class="input"><i class="fa fa-key"></i></span>
                            {{ form.password2 }}
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-block text-uppercase">
                                Register
                            </button>
                        </div>

                        <hr class="my-4">

                        {{ form.errors }} <!-- throw errors here to show error messages -->
                        <div class="text-center mb-2" style="color:white;">
                            Already have an account?
                            <a href="{% url 'login' %}" class="register-link">
                                Login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Query All input fields
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username..';
        form_fields[2].placeholder='Email..';
        form_fields[3].placeholder='Enter password...';
        form_fields[4].placeholder='Re-enter Password...';


        for (var field in form_fields){
            form_fields[field].className += ' form-control'
        }
    </script>
{% endblock %}
